# Dependencies
node_modules/
package-lock.json

# Environment variables
.env
.env.local

# Build outputs
build/
dist/

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Optional: Uncomment if you don't want to push the trained model
server/microservice/patient-monitoring-microservice/ml/saved-model/
